In [1]:
from dateutil.parser import parse 
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
plt.rcParams.update({'figure.figsize': (10, 7), 'figure.dpi': 120})

# Import as Dataframe
df = pd.read_csv('../data/rainfall-climatic-regions.csv', parse_dates=['date'])
df.head()

   year  day-number       date  sub humid  humid  very humid  semi arid  arid
0  1957           1 1957-01-01        0.0    0.0         0.0        0.0   0.0
1  1957           2 1957-01-02        0.0    0.0         0.0        0.0   0.0
2  1957           3 1957-01-03        0.0    0.0         0.0        0.0   0.0
3  1957           4 1957-01-04        0.0    0.0         0.0        0.0   0.0
4  1957           5 1957-01-05        0.0    0.0         0.0        0.0   0.0

In [2]:
data = df.copy()
data['date']=data['date'].apply(pd.to_datetime)
from datetime import date
df = data[data['date'] >= pd.Timestamp(date(2012,1,1))]