In [38]:
import pandas as pd
import plotly.graph_objects as go
import plotly.io as pio
import plotly.express as px
# renderer for jupyterlab
pio.renderers.default='jupyterlab'
# renderer for vs code
# pio.renderers.default='vscode'
# renderer for colab
# pio.renderers.default='colab'
pio.templates.default = "plotly_white"
import numpy as np
import statsmodels.api as sm
import datetime
from plotly.subplots import make_subplots
from ipywidgets import widgets,Layout
import warnings
warnings.simplefilter(action='ignore')

### Importing the datasets

In [39]:
district=pd.read_csv(r'../data/rainfall-districts.csv')
koeppen=pd.read_csv(r'../data/rainfall-koe-regions.csv')
thornthwaite=pd.read_csv(r'../data/rainfall-tho-regions.csv')
climatic=pd.read_csv(r'../data/rainfall-climatic-regions.csv')

### Rainfall by region type

In [40]:
# dropdown widget
region_type = widgets.Dropdown(
    options=['District','Koeppen Climatic Regions',
             'Thornthwaite Climatic Regions', 'Climatic Region'],
    value='District', description='Region Type',layout=Layout(margin='20px 20px 20px 20px'))
container=widgets.HBox([region_type])

In [41]:
traces=[go.Scatter(x=district['date'],y=district[i],name=i) for i in district.columns[3:]]
layout = go.Layout(title=dict(text='Rainfall by region type'),xaxis=dict(title='Years',rangeslider=dict(visible=True)),yaxis=dict(title='Rainfall'))
go.Layout()
g = go.FigureWidget(data=traces, layout=layout)

In [42]:
def plot_fig(df, title):
    var = {'district': district,
           'koeppen': koeppen,
           'thornthwaite': thornthwaite,
           'climatic': climatic}
    df=var[df]
    with g.batch_update():
        col=list(df.columns.values)
        for i in range(len(g.data)):
            if i+3<len(col):
                g.data[i].y=df[col[i+3]]
                g.data[i].name=col[i+3]
                g.data[i].x=df['date']
            else:
                g.data[i].x=None
                g.data[i].y=None
                g.data[i].name=None

In [43]:
total_container=widgets.VBox([container,g])
display(total_container)

VBox(children=(HBox(children=(Dropdown(description='Region Type', layout=Layout(margin='20px 20px 20px 20px'),â€¦

In [44]:
def response(change):
    val=region_type.value.split()[0].lower()
    plot_fig(val,region_type.value)

In [45]:
region_type.observe(response,names='value')

### Rainfall Complete Data

In [ ]:
rain=pd.concat([district,koeppen.iloc[:,3:],climatic.iloc[:,3:],thornthwaite.iloc[:,3:]],axis=1)

In [ ]:
rain=rain.set_index('date',drop=False)

In [ ]:
rain['month']=rain.apply(lambda x: datetime.datetime.strptime(x['date'], "%Y-%m-%d").month,axis=1)
rain['day-of-month']=rain.apply(lambda x: datetime.datetime.strptime(x['date'], "%Y-%m-%d").day,axis=1)
rain=rain[list(rain.columns[:3])+list(rain.columns[48:50])+list(rain.columns[3:48])]

### Plotting Function

In [17]:
# dropdown widget
region = widgets.Dropdown(
    options=regions,
    value=regions[0], description='Region',layout=Layout(margin='20px 20px 20px 20px'))
container=widgets.HBox([region])

In [18]:
def initial_plot(x_axis,df,iterate_list,title,x_axis_title):
#     list_type=year
    traces=[]
    if len(iterate_list)==0:
        traces.append(go.Scatter(x=df[x_axis],y=df[regions[0]],name=regions[0]))
    else:
        for i in iterate_list:
            temp = df[df['year'] == i]
            traces.append(go.Scatter(x=temp[x_axis],y=temp[regions[0]],name=str(i)))
    layout = go.Layout(title=dict(text=title),xaxis=dict(title=x_axis_title,rangeslider=dict(visible=True)),yaxis=dict(title='Rainfall (mm)'))
    return go.FigureWidget(data=traces, layout=layout)

In [19]:
def plot_fig(id_r,title,x_axis,g,data,iterate_list):
    var={i.split()[0].lower():i for i  in regions}
    id_region=var[id_r]
    with g.batch_update():
        if len(iterate_list)!=0:
            for i in iterate_list:
                df = data[data['year'] == i]
                g.data[i-1957].y=df[id_region]
                g.data[i-1957].name=str(i)
                g.data[i-1957].x=df[x_axis]
        else:
            g.data[0].y=data[id_region]
            g.data[0].name=str(title)
            g.data[0].x=data[x_axis]

In [20]:
def response(change):
    val=region.value.split()[0].lower()
    plot_fig(val,region.value,'day-number',g,rain_monsoon,years)
    plot_fig(val,region.value,'month',g_mean_monthly_year,mean_monthly_year,years)
    plot_fig(val,region.value,'month',g_median_monthly_year,median_monthly_year,years)
    plot_fig(val,region.value,'year',g_mean_yearly,mean_yearly,[])
    plot_fig(val,region.value,'year',g_median_yearly,median_yearly,[])
    plot_fig(val,region.value,'day-number',g_mean_daily,mean_daily,[])
    plot_fig(val,region.value,'day-number',g_median_daily,median_daily,[])
    plot_fig(val,region.value,'day-number',g_mean_daily_monsoon,mean_daily_monsoon,[])
    plot_fig(val,region.value,'day-number',g_median_daily_monsoon,median_daily_monsoon,[])

In [21]:
region.observe(response,names='value')

In [8]:
rain.fillna(0,inplace=True)

In [9]:
rain.isnull().sum()

year              0
day-number        0
date              0
ajmer             0
alwar             0
banswara          0
baran             0
barmer            0
bharatpur         0
bhilwara          0
bikaner           0
bundi             0
chittorgarh       0
churu             0
dausa             0
dholpur           0
dungarpur         0
hanumangarh       0
jaipur            0
jaisalmer         0
jalore            0
jhunjhunu         0
jodhpur           0
karoli            0
kota              0
nagaur            0
pali              0
pratapgarh        0
rajsamand         0
sawai madhopur    0
sikar             0
sirohi            0
ganganagar        0
tonk              0
udaipur           0
aw                0
bshw              0
cwq               0
bwhw              0
sub humid         0
humid             0
very humid        0
semi arid         0
arid              0
daw               0
caw               0
ead               0
dbw               0
dtype: int64

In [22]:
mean_monthly_year=rain.groupby(['year','month'],as_index=False)[regions].mean()

KeyError: 'month'

In [11]:
rain=rain.set_index('date',drop=False)

In [12]:
mean=rain.groupby(['month'])['ajmer','alwar','banswara','baran','barmer','bharatpur','bhilwara','bikaner','bundi','chittorgarh','churu','dausa','dholpur','dungarpur','hanumangarh','jaipur','jaisalmer','jalore','jhunjhunu','jodhpur','karoli','kota','nagaur','pali','pratapgarh','rajsamand','sawai madhopur','sikar','sirohi','ganganagar','tonk','udaipur','aw','bshw','cwq','bwhw','sub humid','humid','very humid','semi arid','arid','daw','caw','ead','dbw'].mean().reset_index()

In [13]:
mean

,month,ajmer,alwar,banswara,baran,barmer,bharatpur,bhilwara,bikaner,bundi,...,bwhw,sub humid,humid,very humid,semi arid,arid,daw,caw,ead,dbw
0,1,0.115282,0.270092,0.033790,0.039021,0.025599,0.291215,0.107114,0.098934,0.116544,...,0.109136,0.137160,0.116768,0.089522,0.122846,0.081676,0.129649,0.055645,0.039741,0.166935
1,2,0.125645,0.345613,0.021574,0.064697,0.081441,0.272889,0.143673,0.293344,0.123180,...,0.240973,0.219608,0.131783,0.099482,0.220512,0.170120,0.183458,0.058824,0.111011,0.311511
2,3,0.088669,0.198998,0.033802,0.048301,0.098416,0.259700,0.090645,0.232045,0.108802,...,0.171319,0.153030,0.130553,0.094988,0.143047,0.124827,0.143416,0.091757,0.077955,0.224908
3,4,0.123167,0.213821,0.074012,0.019256,0.065732,0.125935,0.123363,0.151970,0.091887,...,0.153649,0.133649,0.089548,0.047101,0.145631,0.131369,0.120298,0.043214,0.109530,0.176244
4,5,0.360645,0.545156,0.171532,0.130720,0.136838,0.344631,0.325063,0.480063,0.176118,...,0.361475,0.417684,0.275190,0.180726,0.439355,0.300945,0.365541,0.173203,0.262725,0.494718
5,6,1.416125,2.031929,2.903982,1.543929,0.687643,1.781690,1.933756,0.947685,2.226881,...,0.998048,1.771024,2.259554,2.948363,1.338673,0.878875,1.861173,2.781685,0.810607,1.260804
6,7,5.026521,5.706578,8.852062,3.775305,1.876377,6.097851,6.377863,2.435265,7.240778,...,2.308940,6.020369,7.101774,8.446187,3.889885,1.999712,6.190985,7.554378,1.863744,3.141682
7,8,4.573727,6.326394,10.216187,3.581342,2.209868,7.049493,6.530709,1.700824,7.122823,...,1.940979,5.799459,7.365599,9.312805,3.395017,1.771123,6.063900,8.304695,1.751797,2.790605
8,9,1.598554,3.254423,4.309429,1.690869,0.924482,3.438494,2.751911,0.912024,3.045881,...,0.976387,2.585833,3.343839,3.948315,1.516351,0.873405,2.686417,3.867857,0.813524,1.310649
9,10,0.189752,0.475553,0.497085,0.260017,0.083266,0.416169,0.256440,0.260599,0.339459,...,0.134977,0.350138,0.383658,0.741855,0.228324,0.115328,0.344545,0.453658,0.129971,0.175023
10,11,0.156905,0.085262,0.363369,0.070571,0.122256,0.111750,0.283173,0.047631,0.284060,...,0.041685,0.141339,0.298524,0.319048,0.104929,0.039714,0.197030,0.363310,0.045179,0.060226
11,12,0.056722,0.142535,0.092615,0.066359,0.031273,0.148237,0.112056,0.096319,0.100397,...,0.088790,0.102880,0.094902,0.123105,0.121227,0.075253,0.106832,0.073065,0.049240,0.151498

In [14]:
def initial_plot(x_axis,df,iterate_list,title,x_axis_title):
#     list_type=year
    traces=[]
    if len(iterate_list)==0:
        traces.append(go.Scatter(x=df[x_axis],y=df[regions[0]],name=regions[0]))
    else:
        for i in iterate_list:
            temp = df[df['year'] == i]
            traces.append(go.Scatter(x=temp[x_axis],y=temp[regions[0]],name=str(i)))
    layout = go.Layout(title=dict(text=title),xaxis=dict(title=x_axis_title,rangeslider=dict(visible=True)),yaxis=dict(title='Rainfall (mm)'))
    return go.FigureWidget(data=traces, layout=layout)

In [15]:
def plot_fig(id_r,title,x_axis,g,data,iterate_list):
    var={i.split()[0].lower():i for i  in regions}
    id_region=var[id_r]
    with g.batch_update():
        if len(iterate_list)!=0:
            for i in iterate_list:
                df = data[data['year'] == i]
                g.data[i-1957].y=df[id_region]
                g.data[i-1957].name=str(i)
                g.data[i-1957].x=df[x_axis]
        else:
            g.data[0].y=data[id_region]
            g.data[0].name=str(title)
            g.data[0].x=data[x_axis]

In [16]:
def response(change):
    val=region.value.split()[0].lower()
    plot_fig(val,region.value,'day-number',g,rain_monsoon,years)
    plot_fig(val,region.value,'month',g_mean_monthly_year,mean_monthly_year,years)
    plot_fig(val,region.value,'month',g_median_monthly_year,median_monthly_year,years)
    plot_fig(val,region.value,'year',g_mean_yearly,mean_yearly,[])
    plot_fig(val,region.value,'year',g_median_yearly,median_yearly,[])
    plot_fig(val,region.value,'day-number',g_mean_daily,mean_daily,[])
    plot_fig(val,region.value,'day-number',g_median_daily,median_daily,[])
    plot_fig(val,region.value,'day-number',g_mean_daily_monsoon,mean_daily_monsoon,[])
    plot_fig(val,region.value,'day-number',g_median_daily_monsoon,median_daily_monsoon,[])

In [19]:
rain

,date,ajmer,alwar,banswara,baran,barmer,bharatpur,bhilwara,bikaner,bundi,...,very humid,semi arid,arid,daw,caw,ead,dbw,day,month,year
date,,,,,,,,,,,,,,,,,,,,,
1957-01-01,1957-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,1957
1957-01-02,1957-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,1,1957
1957-01-03,1957-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,1,1957
1957-01-04,1957-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,1,1957
1957-01-05,1957-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,1,1957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-12-27,2012-12-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27,12,2012
2012-12-28,2012-12-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28,12,2012
2012-12-29,2012-12-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29,12,2012
2012-12-30,2012-12-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30,12,2012
2012-12-31,2012-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31,12,2012